{{#each favoritesList.questions as |question|}}
  <p>{{#link-to 'question' question.id}}{{question.question}}{{/link-to}}</p>
  <button class="waves-effect waves-light btn adminBtn"{{action "removeFromFavorites" question}}>Remove From Favorites</button>
{{/each}}
{{total}}
<button class="waves-effect waves-light btn adminBtn"{{action 'emptyList' questions}}>Empty List</button>
