<div id="display-favorites" class="container">
  <h4>Favorites:</h4>
  {{#each favoritesList.questions as |currentQuestion|}}
  <p>{{#link-to 'question' currentQuestion.id}}{{currentQuestion.question}}{{/link-to}}</p>
  <button id="removeFav"class="waves-effect waves-light btn adminBtn"{{action "removeFromFavorites" question}}>Remove From Favorites</button>
  {{/each}}
  {{total}}
  <button id="clearFavList" class="waves-effect waves-light btn adminBtn"{{action 'emptyList' questions}}>Empty List</button>

</div>
