<div class="col s4">
  {{#link-to 'question' question.id}}
  <h5>"{{question.question}}"</h5>
  {{/link-to}}
  <hr>
  <h6>Posted By: {{question.author}}</h6>
  {{update-question question=question update="update"}}
  <button class="waves-effect waves-light btn"{{action 'delete' question}}>DELETE</button>
</div>
