<div class="question-list">
  {{#link-to 'question' question.id}}
  <h5 class="question">{{question.question}}</h5>
  {{/link-to}}
  <h6>Posted By: {{question.author}}</h6>
  {{update-question question=question update="update"}}
  <button id="deleteBtn" class="waves-effect waves-light btn adminBtn"{{action 'delete' question}}>DELETE</button>
  <hr>
</div>
