@import url(https://fonts.googleapis.com/css?family=PT+Sans|Cantarell|Satisfy);

/*----Navbar----*/

.nav-title {
  font-family: 'Satisfy', cursive;
  margin-left: 2%;
  font-size: 38px;
  color: #FAFAFA;
}

nav, ul li a {
  font-family: 'Satisfy', cursive;
  font-size: 18px;
  color: #FAFAFA;
}

nav {
  background-color: #C5CAE9;
  opacity: 0.9;
}

body {
  /*background: url('/img/bg1.png') cover no-repeat;*/
  /*background-color: #7986CB;*/
}

/*---Index.hbs---*/

.header {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.header h1 {
  font-size: 38px;
  color: black;
}

.header h5 {
  padding-bottom: 10px;
  color: black;
}

.text-background {
  margin-top: 10%;
  /*background-color: white;
  opacity: 0.9;*/
  padding: 28px;
}
