<nav>
  <div class="nav-wrapper">
    {{#link-to 'index'}}<a class="logo">Beyond Middle Earth</a>{{/link-to}}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#link-to 'discussion-board'}}<li>Discussion Board</li>{{/link-to}}
        <!-- {{#link-to 'about'}}<li>About</li>{{/link-to}} -->
        <!-- {{#link-to 'cart'}}<li>Favorites</li>{{/link-to}} -->
    </ul>
  </div>
</nav>
  <div class="container">
    {{outlet}}
  </div>
