<nav>
  <div class="nav-wrapper">
    {{#link-to 'index'}}<a class="logo">Beyond Middle Earth</a>{{/link-to}}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#link-to 'discussion-board'}}<li>Discussion Board</li>{{/link-to}}
      <!-- <li>{{display-favorites question=model}}</li> -->
    </ul>
  </div>
</nav>
  <div class="container">
    {{outlet}}
  </div>
