<div class="container">

  <h2 class="discussion-header">Forum</h2>
  <hr>
  <br>
  <div class="question-postings">
    <div class="row">
      {{#each model as |question|}}
      {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
      {{/each}}
    </div>
    {{new-question save2="save3"}}
  </div>

</div>
