<div class="container">
  <div class="disucss-header">
    <h2>Forum</h2>
  </div>
  <div class="question-postings">
   <div class="row">
     {{#each model as |question|}}
      {{question-tile question=question}}
     {{/each}}
   </div>
  </div>
</div>
