<div class="header">
  <div class="text-background">
    <h1>Welcome to the Jane Austen Book Club</h1>
    <br>
    <h4>Join our community &amp; begin<br>
    delving into Austen's literary classics.</h4>
    {{#link-to 'discussion-board'}}<a id="btnDiscuss" class="waves-effect waves-light btn">Visit the Discussion Board</a>{{/link-to}}
  </div>
</div>
