<div class="header">
  <div class="text-background">
    <h1>Welcome to the Jane Austen Book Club</h1>
    <h5>Join our community &amp; begin<br>
      delving into Austen's literary classics.</h5>
  </div>
</div>
