<div class="overlay">
  <div class="index-header">
    <h1>Not all who wander <br> are lost...</h1>
  </div>
  <div class="index-callToAction">
    {{#link-to 'discussion-board'}}<a class="waves-effect waves-light btn callToAction">Explore topics</a>{{/link-to}}
  </div>
</div>
